.pane-plain-box-temporary-d2e7e6d29115a32a0dae0eb27d2a09ce {
  margin-bottom: 10px;
  color: #000000;
  background-color: #FFFFFF;
}

.pane-plain-box-temporary-d2e7e6d29115a32a0dae0eb27d2a09ce h2 {
  color: #000000;
  background-color: #FFFFFF;
}

.pane-plain-box-temporary-d2e7e6d29115a32a0dae0eb27d2a09ce {
  border: none}
