.view-author-carousel h2.field-content {
	text-align: center;
}

.customized-content {
	text-align: justify;
}

.customized-content h2 {
	padding-bottom: 5px;
	margin-top: 0;
}

.description p:first-child {
	display: inline;
}

#block-views-exp-catalog-page-page h2 {
	cursor: pointer;
	color: #42A5E1;
}

#edit-field-publication-year-value-min-date,
#edit-field-publication-year-value-max-date {
	width: 60px;
}

tr td, tr th {
    /*border: 1px solid #fff;*/
    padding: 4px 9px;
    text-align: center;
}